.Company-section-padding{
    padding: 100px 0;
}
.Company{
    text-align: center;
    font-size: 2rem;
    font-family: serif;
    
}
.company-name-img{
    margin-top: 50px;
}
.heading{
    text-align: center;
    color: gray;
}
.para{
    text-align: center;
    color: gray;
}